In [1]:
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
#reading the dataset
data=pd.read_csv('Onion Prices 2020.csv')
print(data)

                 state            district                         market  \
0       Andhra Pradesh             Kurnool                        Kurnool
1       Andhra Pradesh             Kurnool                        Kurnool
2       Andhra Pradesh             Kurnool                        Kurnool
3       Andhra Pradesh             Kurnool                        Kurnool
4       Andhra Pradesh             Kurnool                        Kurnool
...                ...                 ...                            ...
107290     West Bengal  Sounth 24 Parganas  Diamond Harbour(South 24-pgs)
107291     West Bengal  Sounth 24 Parganas  Diamond Harbour(South 24-pgs)
107292     West Bengal  Sounth 24 Parganas  Diamond Harbour(South 24-pgs)
107293     West Bengal  Sounth 24 Parganas  Diamond Harbour(South 24-pgs)
107294     West Bengal  Sounth 24 Parganas  Diamond Harbour(South 24-pgs)

       commodity variety arrival_date  min_price  max_price  modal_price
0          Onion   Local   03/01/2020       1350       4390       3100.0
1          Onion   Local   04/01/2020       1390       4400       3200.0
2          Onion   Local   06/01/2020       1460       5150       4310.0
3          Onion   Local   07/01/2020       2010       5200       4200.0
4          Onion   Local   10/01/2020       1320       4050       3300.0
...          ...     ...          ...        ...        ...          ...
107290     Onion     Red   03/09/2020       2200       2300       2250.0
107291     Onion     Red   04/09/2020       2050       2600       2200.0
107292     Onion     Red   08/09/2020       2700       2875       2800.0
107293     Onion     Red   09/09/2020       2625       2875       2800.0
107294     Onion     Red   10/09/2020       2800       2890       2870.0

[107295 rows x 9 columns]

In [3]:
#checking for any null values
print (data.isnull().values.any())

False

In [4]:
#dropping the columns 

d1=data.drop(['variety','market'],axis=1)
print(d1.head(5))

            state district commodity arrival_date  min_price  max_price  \
0  Andhra Pradesh  Kurnool     Onion   03/01/2020       1350       4390
1  Andhra Pradesh  Kurnool     Onion   04/01/2020       1390       4400
2  Andhra Pradesh  Kurnool     Onion   06/01/2020       1460       5150
3  Andhra Pradesh  Kurnool     Onion   07/01/2020       2010       5200
4  Andhra Pradesh  Kurnool     Onion   10/01/2020       1320       4050

   modal_price
0       3100.0
1       3200.0
2       4310.0
3       4200.0
4       3300.0

In [5]:
#spliting the date in day month and year in separte columns
d1[["day", "month", "year"]] = d1["arrival_date"].str.split("/", expand = True)
print("\nNew DataFrame:")
print(d1)

New DataFrame:
                 state            district commodity arrival_date  min_price  \
0       Andhra Pradesh             Kurnool     Onion   03/01/2020       1350
1       Andhra Pradesh             Kurnool     Onion   04/01/2020       1390
2       Andhra Pradesh             Kurnool     Onion   06/01/2020       1460
3       Andhra Pradesh             Kurnool     Onion   07/01/2020       2010
4       Andhra Pradesh             Kurnool     Onion   10/01/2020       1320
...                ...                 ...       ...          ...        ...
107290     West Bengal  Sounth 24 Parganas     Onion   03/09/2020       2200
107291     West Bengal  Sounth 24 Parganas     Onion   04/09/2020       2050
107292     West Bengal  Sounth 24 Parganas     Onion   08/09/2020       2700
107293     West Bengal  Sounth 24 Parganas     Onion   09/09/2020       2625
107294     West Bengal  Sounth 24 Parganas     Onion   10/09/2020       2800

        max_price  modal_price day month  year
0            4390       3100.0  03    01  2020
1            4400       3200.0  04    01  2020
2            5150       4310.0  06    01  2020
3            5200       4200.0  07    01  2020
4            4050       3300.0  10    01  2020
...           ...          ...  ..   ...   ...
107290       2300       2250.0  03    09  2020
107291       2600       2200.0  04    09  2020
107292       2875       2800.0  08    09  2020
107293       2875       2800.0  09    09  2020
107294       2890       2870.0  10    09  2020

[107295 rows x 10 columns]

In [6]:
print(d1.head(5))

            state district commodity arrival_date  min_price  max_price  \
0  Andhra Pradesh  Kurnool     Onion   03/01/2020       1350       4390
1  Andhra Pradesh  Kurnool     Onion   04/01/2020       1390       4400
2  Andhra Pradesh  Kurnool     Onion   06/01/2020       1460       5150
3  Andhra Pradesh  Kurnool     Onion   07/01/2020       2010       5200
4  Andhra Pradesh  Kurnool     Onion   10/01/2020       1320       4050

   modal_price day month  year
0       3100.0  03    01  2020
1       3200.0  04    01  2020
2       4310.0  06    01  2020
3       4200.0  07    01  2020
4       3300.0  10    01  2020

In [7]:
d2=d1.copy()

In [8]:
print(d2.head(5))

            state district commodity arrival_date  min_price  max_price  \
0  Andhra Pradesh  Kurnool     Onion   03/01/2020       1350       4390
1  Andhra Pradesh  Kurnool     Onion   04/01/2020       1390       4400
2  Andhra Pradesh  Kurnool     Onion   06/01/2020       1460       5150
3  Andhra Pradesh  Kurnool     Onion   07/01/2020       2010       5200
4  Andhra Pradesh  Kurnool     Onion   10/01/2020       1320       4050

   modal_price day month  year
0       3100.0  03    01  2020
1       3200.0  04    01  2020
2       4310.0  06    01  2020
3       4200.0  07    01  2020
4       3300.0  10    01  2020

In [9]:
#droping the 
d3=d2.drop('arrival_date',axis=1)
print(d3.head(5))

            state district commodity  min_price  max_price  modal_price day  \
0  Andhra Pradesh  Kurnool     Onion       1350       4390       3100.0  03
1  Andhra Pradesh  Kurnool     Onion       1390       4400       3200.0  04
2  Andhra Pradesh  Kurnool     Onion       1460       5150       4310.0  06
3  Andhra Pradesh  Kurnool     Onion       2010       5200       4200.0  07
4  Andhra Pradesh  Kurnool     Onion       1320       4050       3300.0  10

  month  year
0    01  2020
1    01  2020
2    01  2020
3    01  2020
4    01  2020